* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    padding-top: 7px;
    ;
    top: 0.1px;
    z-index: 10;
    background-color: black;
}

.header-div nav h3 {
    color: #FF8C00;
    font-size: 30px;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Works-blog-contact {
    width: 195px;
    display: flex;
    justify-content: space-between;
}

.Works-blog-contact span {
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.hero {
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 195px;
    background-color: black;
}

.hero .left-box,
.right-box {
    height: 328px;
    width: 492px;
    display: inline-block;
}

.left-box .left-box-firstchild div {
    color: #00FFFF;
    font-family: Heebo;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}


.left-box .left-box-secondchild {
    margin-top: 12px;
}

.left-box .left-box-secondchild p {
    color: #CCCCCC;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.left-box-thirdchild {
    margin-top: 35px;
}

.left-box-thirdchild button {
    padding: 20px;
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    background-color: #FF00FF;
    border-radius: 7px;
}

.left-box {
    margin-top: 50px;
}

.right-box img {
    margin-left: 90px;
}

.right-box img:hover {
    filter: drop-shadow(5px 3px 8px #d761d7);
}


.main-bg {
    background-color: #CCCCCC;
    height: 340px;
}

.mainbg-recentpost {
    display: flex;
    justify-content: space-around;
    width: 90vw;
}

.mainbg-recentpost :first-child {
    color: #21243D;
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
}

.mainbg-recentpost :last-child {
    color: #04414e;
    text-align: right;
    font-family: Heebo;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
}

.posts {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 115px;
    margin-top: -10px;
}

.posts-left,
.posts-right {
    width: 428px;
    height: 185px;
    background-color: black;
    border: 2px solid white;
    display: inline-block;
    padding: 15px;
    border-radius: 4px;
    color: white;
}

.posts-heading {
    color: #79efef;
    font-family: Heebo;
    font-size: 28px;
    font-weight: 700;
}

.posts-date {
    margin-top: 17px;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posts-paragraph {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Featured-works {
    height: 800px;
    background-color: black;
}

.Featured-works-heading {
    width: 65vw;
    margin: auto;
    color: white;
    font-family: Heebo;
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
}

.Featured-works-middle-box {
    width: 51vw;
    margin:  20px auto;
    justify-content: space-around;
    display: grid;
    position: relative;
}

.fw-box {
    height: 204px;
    width: 934px;
    display: flex;
    padding: 3px;
    border-radius: 10px;
    margin-top: 20px;
}

.fw-image-box {
    display: inline-block;
    width: 315px;
}

.fw-text-box{
    width: 550px;
}

.fw-heading {
    color:#00FFFF;
    font-family: Heebo;
    font-size: 28px;
    font-weight: 700;
}

.fw-year {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.fw-year :first-child {
    display: inline-block;
    background-color: grey;
    padding: 5px;
    border-radius: 8px;
}

.fw-year :last-child {
    color: #8695A4;
    font-family: Heebo;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.fw-paragraph {
    color: white;
    font-family: Heebo;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

footer{
    height: 182px;
    
}